@use '@angular/material' as mat;

.example-spacer {
    flex: 1 1 auto;
  }
  
  .thought-notes {
    display: inline-block;
    padding: 8px 16px;
    background-color: map-get(mat.$azure-palette, 100);
    color: map-get(mat.$azure-palette, 25);
    //border-left: 4px solid #2196f3;
    //border-right: 4px solid #2196f3;
    font-weight: 650;
    font-size: 2.1rem;
    
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
    // Optional hover effect
    &:hover {
      background-color: map-get(mat.$azure-palette, 90);
    }
  }

.main-header {
    background: map-get(mat.$azure-palette, 70);
    padding: 20px 15px;
}

.focusbox-menu {
    // TODO : Add styles for the toolbox menu
    background: map-get(mat.$azure-palette, 70);
    padding: 20px 15px;
}

.main-footer {
    // TODO: Add styles for the footer
    background: map-get(mat.$azure-palette, 70);
    padding: 20px 15px;
}

.sidenav-menu {
    width: auto;
    height: 90%;
    margin: 10px;
    border: 1px solid #555;
    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    background: #eee;

  }

  .sidenav-menu.side {
    background-color: map-get(mat.$azure-palette, 90);
    width: 30%;
    height: 100%;
    overflow: auto;
    border: none;
  }
