<mat-toolbar class="main-header">
  <button *ngIf="!isSideOpen" mat-icon-button class="copy-btn" aria-label="Open Sidebar menu" (click)="onMenuClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <button *ngIf="isSideOpen" mat-icon-button class="copy-btn" aria-label="Close Sidebar menu" (click)="onMenuClick()">
    <mat-icon>close</mat-icon>
  </button>
  <span class="thought-notes"><mat-icon>cloud_upload</mat-icon>&nbsp;Thought Notes</span>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Play the interactive tutorial">
    <mat-icon>play_lesson</mat-icon>
  </button>
  <button mat-icon-button aria-label="Help">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button aria-label="Click here for settings">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Like us heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Share us with others">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-menu">
  <mat-sidenav mode="side" [(opened)]="isSideOpen" class="sidenav-menu side">
    <div class="sidebar-content">
      <div class="button-group">
        <div class="button-group-title">Organize By</div>
        <div class="sidebar-menu">
          <button class="sidebar-button">
            <mat-icon>today</mat-icon>
            <span class="text">Day</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>view_week</mat-icon>
            <span class="text">Week</span>
          </button>
          <button class="sidebar-button active">
            <mat-icon>calendar_month</mat-icon>
            <span class="text">Month</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>timelapse</mat-icon>
            <span class="text">Year</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>category</mat-icon>
            <span class="text">Category</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>sell</mat-icon>
            <span class="text">Tag</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>mood</mat-icon>
            <span class="text">Mood</span>
          </button>
        </div>
      </div>

      <div class="button-group">
        <div class="button-group-title">Toolbox</div>
        <div class="sidebar-menu">
          <button class="sidebar-button">
            <mat-icon>add</mat-icon>
            <span class="text">Add</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>delete</mat-icon>
            <span class="text">Delete</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>zoom_in</mat-icon>
            <span class="text">Zoom-in time</span>
          </button>
          <button class="sidebar-button">
            <mat-icon>zoom_out</mat-icon>
            <span class="text">Zoom-out time</span>
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-focus-header [context]="context"></app-focus-header>
    <!--*ngFor="let eachthoughtnote of thoughtnotesList$ | async;"-->
    @if (thoughtnotesList$ | async; as thoughtnotesCollection) {
      <!--Benefits of using async pipe is that the Observable is unsubscribed automatically when the component is destroyed-->
      @for (eachthoughtnote of thoughtnotesCollection; track eachthoughtnote.UUID) {
        <app-thoughtnote [thoughtnote]="eachthoughtnote"></app-thoughtnote>
      }
    }
  </mat-sidenav-content>
</mat-sidenav-container>

