<mat-toolbar class="main-header">
  <button *ngIf="!isSideOpen" mat-icon-button class="copy-btn" aria-label="Open Sidebar menu" (click)="onSideNavToggled()">
    <mat-icon>menu</mat-icon>
  </button>
  <button *ngIf="isSideOpen" mat-icon-button class="copy-btn" aria-label="Close Sidebar menu" (click)="onSideNavToggled()">
    <mat-icon>close</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Play the interactive tutorial">
    <mat-icon>play_lesson</mat-icon>
  </button>
  <button mat-icon-button aria-label="Help">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button aria-label="Click here for settings">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Like us heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Share us with others">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-menu">
  <mat-sidenav mode="side" [(opened)]="isSideOpen">
    <div class="sidebar-content">
      <div class="button-group">
        <div class="button-group-title">Organize By</div>
        <div class="sidebar-menu">
          <button routerLink="/organizeby/time/daily"
                  routerLinkActive="active"
                  class="sidebar-button">
            <mat-icon>today</mat-icon>
            <span class="text">Day</span>
          </button>
          <button routerLink="/organizeby/time/weekly"
                  routerLinkActive="active"
                  class="sidebar-button">
            <mat-icon>view_week</mat-icon>
            <span class="text">Week</span>
          </button>
          <button routerLink="/organizeby/time/monthly"
                  routerLinkActive="active"
                  class="sidebar-button">
            <mat-icon>calendar_month</mat-icon>
            <span class="text">Month</span>
          </button>
          <button routerLink="/organizeby/time/yearly"
                  routerLinkActive="active"
                  class="sidebar-button">
            <mat-icon>timelapse</mat-icon>
            <span class="text">Year</span>
          </button>
          <button routerLink="/organizeby/category"
                  routerLinkActive="active"
                  class="sidebar-button">
            <mat-icon>category</mat-icon>
            <span class="text">Category</span>
          </button>
          <button routerLink="/organizeby/tag"
                  routerLinkActive="active"
                  class="sidebar-button">
            <mat-icon>sell</mat-icon>
            <span class="text">Tag</span>
          </button>
          <button routerLink="/organizeby/mood"
                  routerLinkActive="active"
                  class="sidebar-button">
            <mat-icon>mood</mat-icon>
            <span class="text">Mood</span>
          </button>
        </div>
      </div>
        <div class="button-group">
          <div class="button-group-title">Toolbox</div>
          <div class="sidebar-menu">
            <button routerLink="/add/thoughtnote/rx"
                    routerLinkActive="active"
                    class="sidebar-button">
              <mat-icon>add</mat-icon>
              <span class="text">Add</span>
            </button>
            <button class="sidebar-button" (click)="deleteSelectedNotes()">
              <mat-icon>delete</mat-icon>
              <span class="text">Delete</span>
            </button>
            <button class="sidebar-button">
              <mat-icon>zoom_in</mat-icon>
              <span class="text">Zoom-in time</span>
            </button>
            <button class="sidebar-button">
              <mat-icon>zoom_out</mat-icon>
              <span class="text">Zoom-out time</span>
            </button>
          </div>
        </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-focus-header [context]="contextSignal()"></app-focus-header>
    <!--*ngFor="let eachthoughtnote of thoughtNotes$ | async;"-->
    @if (thoughtNotes) {
      <!--Benefits of using async pipe is that the Observable is unsubscribed automatically when the component is destroyed-->
      @for (eachthoughtnote of thoughtNotes; track eachthoughtnote.UUID) {
        <app-thoughtnote [thoughtnote]="eachthoughtnote" (selectedThoughtnoteIdEmitter)="onThoughtnoteSelected($event)" ></app-thoughtnote>
        <!--app-thoughtnote [thoughtnote]="eachthoughtnote" highlightWith="red"></app-thoughtnote DEMO of Directive-->
      }
    } @else {
      <div class="no-thoughtnotes-message">
        No thought notes available for the selected time range.
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>

