<form #thoughtNoteForm="ngForm" (ngSubmit)="onSubmit(thoughtNoteForm)" class="thought-note-form">
  <div class="form-container">
  <h2 mat-dialog-title>Add New Thought Note</h2>
  <div class="form-content">
    <div class="form-grid">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput
               name="title"
               [(ngModel)]="thoughtNote.title"
               required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput
               [matDatepicker]="picker"
               name="date"
               [(ngModel)]="thoughtNote.date"
               required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select name="category"
                    [(ngModel)]="thoughtNote.category"
                    required>

          @for (category of categories; track category) {
            <mat-option [value]="category">
              {{ category }}
            </mat-option>
          }

        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Tag</mat-label>
        <mat-select name="tag"
                    [(ngModel)]="thoughtNote.tag"
                    required>
          @for (tag of tags; track tag) {
            <mat-option [value]="tag">
              {{ tag }}
            </mat-option>
          }

        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mood</mat-label>
        <mat-select name="mood"
                    [(ngModel)]="thoughtNote.mood"
                    required>
          @for (mood of moods; track mood) {
            <mat-option [value]="mood">
              {{ mood }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width-field">
        <mat-label>Description</mat-label>
        <textarea matInput
                  name="description"
                  [(ngModel)]="thoughtNote.description"
                  rows="4"
                  required></textarea>
      </mat-form-field>
    </div>
  </div>
  <mat-dialog-actions align="end" class="form-actions">
    <button mat-flat-button type="submit" [disabled]="!thoughtNoteForm.form.valid">
      Save
    </button>
    <button mat-flat-button type="button" (click)="onReset(thoughtNoteForm)">
      Reset
    </button>
    <button mat-raised-button type="button" (click)="onCancel(thoughtNoteForm)">
      Cancel
    </button>
  </mat-dialog-actions>
  </div>
</form>
